body {
	--bg-color: hsl(214, 13%, 10%);
	--fg-color: hsl(214, 14%, 20%);
	--a:  #24d6a6;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
}

fieldset {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-radius: 15px;
	background-color: var(--fg-color);

	margin: 1em auto;
	padding: 2em;
	width: 22em;
	position: relative;
}

.connexion {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

input[type=text], input[type=password] {
	background: var(--bg-color);
	font-size: 1.2em;
    line-height: 1;
    padding: 0.3em 0.4em;
    margin: 0 0.5em 1em 0;

	border-radius: 3px;
    box-shadow: none;
    border: 1px solid hsl(214, 13%, 16%);
    display: block;
    width: 100%;
}

input[type=button] {
	background: radial-gradient(#00EBA6,#00BDDD);
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 0.5em 2em;
	margin: 2em 0 0;
	width: 100%;
	border-radius: 3px;
	opacity: 0.8;
	transition: all 0.2s ease;
}

input[type=button]:hover {
	opacity: 1;
}
