body {
	--bg-color: hsl(214, 13%, 10%);
	--fg-color: hsl(214, 14%, 20%);
	--turquoise-logo: #00EBA6;
	--bleu-logo: #00BDDD;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--bg-color);
	margin-bottom:60px;
	margin-top:70px;
	width: auto;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	color: var(--bleu-logo);
}

.error {
	color: red;
	margin: 0px;
}

.success {
	color: lightgreen;
	margin: 0px;
}

#resultatsRecherche {
	z-index: 1;

	background-color: var(--fg-color);
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 5px;
	border-radius: 10px;
	border-width: 1px;
    border-style: solid;
}

