footer {
    position: fixed;
    height: 60px;
    background-color: hsl(214, 14%, 20%);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
	
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}


footer p {
	color: white;
	font-size: small;
}

.logo {
	padding: 5px;
}