p {
    color: beige;
}

.semaines {
    width: 82%;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}

.consultations {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    min-height: 600px;
}

#centreSemaine {
    display: flex;
    flex-direction: column;
}

#dispSemaine {
    font-size: larger;
    text-align: center;
}

.semainePrec, .semaineSuiv {
	background: radial-gradient(rgba(255, 255, 255, 0.771),rgba(86, 86, 86, 0.771));

    font-weight: bolder;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 0.5em 2em;
	margin: 2em 0 0;


	opacity: 0.8;
	transition: all 0.2s ease;
}

#reset {
    color: aliceblue;
    transition: all 0.2s ease;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#reset:hover {
    color: var(--turquoise-logo);
}

.semainePrec:hover, .semaineSuiv:hover {
    background: radial-gradient(rgb(60, 187, 149),rgb(117, 179, 152));
	opacity: 1;
}

.semainePrec {
    border-radius: 40px 3px 3px 0px;
}

.semaineSuiv {
    border-radius: 3px 40px 0px 3px;
}

.jour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--fg-color);
    margin-top: 5px;
    padding: 2px;
    width: 16%;
    height: 800px;
    border-top: 2px solid rgba(255, 255, 255, 0.771);
    border-bottom: 2px solid rgba(255, 255, 255, 0.771);
}

.jourGauche {
    border-radius: 20px 0px 0px 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.771);
}

.jourDroite {
    border-radius: 0px 20px 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.771);
}

.nomJour {
    border-bottom: 2px solid rgba(255, 255, 255, 0.771);
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: var(--turquoise-logo);
}

.consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.771);
    border-radius: 10px;
    background-color: rgb(54, 57, 62);
}

.btConsultation {
    display: flex;
    flex-direction: row;
}

.consultation p {
    margin: 2px;
    
}

input[type=submit], .delete {
	border: 1px solid transparent;
	border-radius: 3px;
	opacity: 0.8;
	transition: all 0.2s ease;
    margin: 0 2px;
}

input[type=submit]:hover, .delete:hover {
    opacity: 1;
}

.edit {
	background: radial-gradient(var(--turquoise-logo),var(--bleu-logo));
}

.delete {
	background: radial-gradient(rgb(196, 131, 71), rgb(255, 110, 58));
}