p {
    color: beige;
}

.semaines {
    width: 82%;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}

.consultations {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    min-height: 600px;
}

#centreSemaine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dispSemaine {
    text-align: center;
}

.jour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--fg-color);
    margin-top: 5px;
    padding: 2px;
    width: 16%;
    height: 800px;
}

.jourGauche {
    border-radius: 20px 0px 0px 20px;
}

.jourDroite {
    border-radius: 0px 20px 20px 0px;
}

.consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.771);
    border-radius: 10px;
}

.btConsultation {
    display: flex;
    flex-direction: row;
}

.consultation p {
    margin: 2px;
}